@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    --cor0: #676F54;
    --cor1: #CDEDF6;
    --cor2: #5EB1BF ;
    --cor3: #F2AD18;
    --cor4: #D84727;
    --cor5: #042A2B;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: inherit;
}
header{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: var(--cor1);
}
#name{
    margin-left: 15px;
    font-family: Handlee, serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#name small{

    font-family: initial;
}
main{
    padding: 10px;
    text-indent: 15px;
    font-size: 20px;
    margin-bottom: 0;
}
main  h2{
    font-family: 'IBM Plex Serif' ;
    font-weight: 400;
    color: var(--cor4);
}
 main h3 {
    font-family: 'IBM Plex Serif' ;
    font-weight: 400;
    color: var(--cor3);
} 

#vitral{
    position: absolute;
    right: 10px;
}
#missas{
    margin-left:20px; 
}
#missas > ul, li{
    list-style: none;
}
.capela{
    font-weight: 600;
    color: #D84727;
}
.capela > ul {
    font-weight: normal;
    color: black;
    list-style: none;
}
#link_form{
    text-decoration: none;
    color: var(--cor3);
}
#link_form:hover{
    text-decoration: underline;
    color: #D84727;
}
#maps{
    width: calc(100% - 30px); 
    height: 150px; 
    position: relative;
    left: 50%;
    transform: translate(-50%);   
}
img{
    margin: 0;
}
.content{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height:  400px;
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    text-indent: 0;
}
.slide_input{
    display: none;
}
.navigation{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.bar{
    width: 50px;
    height: 10px;
    border: 1px solid #fff;
    margin: 2px;
    border-radius: 5px ;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{ 
    border: solid 2px #fff;
} 
.slides{
    display: flex;
    width: 500%;
    height: 100%;
}
.slide{
    width: 20%;
    transition: .6s;
}
.slide img{
    width: 100%;
    height: 100%;
}
#slide1:checked ~ .s1{
    margin-left:  0;
}
#slide1:checked ~ .navigation .bar:nth-child(1) {
    background-color: #fff;
}
 #slide2:checked ~ .s1{
    margin-left: -20%;
}
#slide2:checked ~ .navigation .bar:nth-child(2) {
    background-color: #fff;
}
#slide3:checked ~ .s1{
    margin-left: -40%;
}
#slide3:checked ~ .navigation .bar:nth-child(3) {
    background-color: #fff;
}
#slide4:checked ~ .s1{
    margin-left: -60%;
}
#slide4:checked ~ .navigation .bar:nth-child(4) {
    background-color: #fff;
}
#slide5:checked ~ .s1{
    margin-left: -80%;
}
#slide5:checked ~ .navigation .bar:nth-child(5){
    background-color: #fff;
}
#arraial{
    margin-top: 10px;
    position: relative;
    right: 0;
    left: 0%; 
}
#contato{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
#contato img{
    width: 30px;
}
footer{
    margin-top: 0px;
    padding: 5px;
    text-indent: 15px;
    font-size: 10px;
    background-color: var(--cor2);
}
@media (min-width:600px) {
    #arraial{
        margin-left: calc(100% - 50%);
    transform: translate(-50%);
    }
    .content{
        width: 500px;
    }
}